{% extends "base.html" %}
{% block body %}
<article class="row">
  <div class="col-md-8">
    <h1>{{ player.name }}</h1>
    <p><strong>Pays:</strong> {{ player.country }} &nbsp; • &nbsp; <strong>Naissance:</strong> {{ player.birth_date }}</p>
    <dl>
      <dt>WTA id</dt><dd>{{ player.id }}</dd>
      <dt>Classement</dt><dd>{{ player.rank }}</dd>
    </dl>

    {% if player.map_path %}
    <h3>Carte</h3>
    <iframe class="map-iframe" src="{{ player.map_path }}"></iframe>
    {% endif %}
  </div>

  <aside class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Détails</h5>
        <p class="card-text">Autres champs : {{ player.extra }}</p>
        <a href="/docs/index.html" class="btn btn-sm btn-secondary">Retour aux cartes</a>
      </div>
    </div>
  </aside>
</article>
{% endblock %}
